@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 218, 223, 230;
  --background-end-rgb: 225, 233, 242;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .link {
    @apply text-blue-500 transition-colors hover:text-white hover:bg-blue-500
  }
  .button {
    @apply p-2 rounded-2xl select-none transition ease-in-out text-lg flex gap-2 items-center justify-center 
    hover:bg-slate-400 hover:text-white 
    active:scale-95 active:text-slate-200 active:bg-slate-500
    disabled:scale-100 disabled:text-slate-300 disabled:bg-slate-200
  }
  .gallery-image {
    @apply rounded-xl transition group-hover:brightness-90 group-hover:scale-95 
    group-active:brightness-75 group-active:scale-90 object-cover
  }
  .header {
    @apply z-10 top-0 flex items-center gap-2 px-4 select-none h-20 bg-white/60 backdrop-blur-sm
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.2s ease-in-out both;
	        animation: scale-up-center 0.2s ease-in-out both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5); opacity: 0;
            transform: scale(0.5); opacity: 0;
  }
  100% {
    -webkit-transform: scale(1); opacity: 100;
            transform: scale(1); opacity: 100;
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5); opacity: 0;
            transform: scale(0.5); opacity: 0;
  }
  100% {
    -webkit-transform: scale(1); opacity: 100;
            transform: scale(1); opacity: 100;
  }
}

.slide-down {
	-webkit-animation: slide-down 0.2s ease-in-out both;
	        animation: slide-down 0.2s ease-in-out both;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translate(0, -2rem); opacity: 0;
            transform: translate(0, -2rem); opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0); opacity: 100;
            transform: translate(0, 0); opacity: 100;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translate(0, -2rem); opacity: 0;
            transform: translate(0, -2rem); opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0); opacity: 100;
            transform: translate(0, 0); opacity: 100;
  }
}